
  .footer {
    border-width: 5px;
    background-image: "\assets\bgg.png";
    border-style: solid;
    border-color: rgba(174, 230, 253, 0.67);
    background-color: rgb(4, 19, 206, 0.83);
    border-radius: 5px;
  }
  
  .footer_div {
    padding-left: 45px;
    font-size: 30px;
    color: white;
    border-radius: 2px;
    border-style: solid;
    border-color: rgba(174, 230, 253, 0.67);
  }
  
  .footertext {
    padding-top: 20px;
    font-family: 'Ruda';
    font-size: 30px;
  }
  
  .footertext2 {
    font-family: 'Ruda';
    font-size: 15px;
  }
  
  .item {
    display: inline-block;
    height: 20px;
    padding: 5px 10px;
  }
  
  ul {
    padding-top: 0px;
    margin-top: 0px;
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  
  }
  
  hr{
      width:80%;
  }
  
  
  