<div class="body">
    <mat-card class="card-style">
        <mat-card-header>
          <mat-card-title>Who We Are?</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            As the community’s healthcare needs continue to grow, KP Health Medical Center 
            supports and maintains a full range of specialty services that serve both inpatients
             and outpatients as well as their families. KP Health Medical Center is a 
             Certified Primary Stroke Center and also provides specialized services, such as our 
             Delivery Land Maternal Care Services and a Senior Behavioral Health Unit for our 
             geriatric community.
          </p>
          <div class="signature">-KP Hari-</div>
        </mat-card-content>

      </mat-card>
</div>
