ng-sidebar-container {
    font-family: 'Ruda';

    height: 100vh;
}

::ng-deep .ng-sidebar{
    background-color:whitesmoke;
    width: 300px;
    padding: 2em 3em;
box-shadow: 0 0 2.5em rgba(85,85,85,0.5);
font-family: 'Ruda';
/* font-size: 25px; */
}
button{
margin-top: 10px;
}
#page-button{

    border: none;
    background: -webkit-linear-gradient(80deg, #247CC4, #336BAE);
    background: linear-gradient(10deg, #247CC4, #336BAE);
    box-shadow: 1px 2px 22px -2px #3D3949;
    color: white;
    border-radius: 0.4em;
    letter-spacing: 2px;
    text-transform: uppercase;
    min-width: 88px;
    font-family: 'Ruda';
    margin-left: 10px;
    padding: 6px 6px 6px 6px;
    margin: 6px 8px 6px 8px;



}

.menu{
    margin-top: 2em;
    display: block;

}
.menu li{
    margin-bottom: 15px;
    list-style: none;
}
.menu li a{
    display: block;
    width: 100%;
}

.name{
font-weight: bolder;
}