<ng-sidebar-container>
  <ng-sidebar [opened]="opened">
    <ul class="menu">
      <li><a routerLink="/">Dashboard</a></li>
      <li><a routerLink="/form">Fill out Medical Info</a></li>
      <li><a routerLink="/testimonials">Testimonials</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <button (click)="toggleSidebar()">Close</button>
    </ul>
  </ng-sidebar>
  <div ng-sidebar-content>
    <button (click)="toggleSidebar()" id="page-button">KP Health</button>
    <router-outlet></router-outlet>
  </div>
</ng-sidebar-container>
