ng-sidebar-container {
  font-family: "Ruda";
  height: 100vh;
  text-decoration: none;
}

::ng-deep .ng-sidebar {
  /* background-color: whitesmoke; */
  /* width: 300px; */
  width: 20%;
  padding: 2em 3em;
  box-shadow: 0 0 2.5em rgba(85, 85, 85, 0.5);
  font-family: "Ruda";
  /* font-size: 25px; */
  background: rgba(78, 146, 173, 0.2);
  border-radius: 20px;
}
button {
  margin-top: 10px;
  border: none;
  background-color: rgb(4, 19, 206, 0.63);
  background:    rgb(4, 19, 206, 0.63);
  box-shadow: 1px 2px 22px -2px #3d3949;
  color: white;
  border-radius: 0.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  /* width: 20%;
  height: 20%; */
  font-family: "Ruda";
  /* font-size: 25px; */
  margin-left: 10px;
  padding: 6px 6px 6px 6px;
  margin: 6px 8px 6px 8px;
}
#page-button {
  border: none;
  background-color: rgb(4, 19, 206, 0.63);
  background:    rgb(4, 19, 206, 0.63);
  box-shadow: 1px 2px 22px -2px #3d3949;
  color: white;
  border-radius: 0.4em;
  letter-spacing: 2px;
  text-transform: uppercase;
  width: 20%;
  height: 20%;
  font-family: "Ruda";
  font-size: 45px;
  margin-left: 10px;
  padding: 6px 6px 6px 6px;
  margin: 6px 8px 6px 8px;
}

.menu {
  margin-top: 8em;
  display: block;
}
.menu li {
  margin-bottom: 35px;
  list-style: none;
  font-size: 20px;
}
.menu li a {
  display: block;
  width: 100%;
  color: white;
}

.name {
  font-weight: bolder;
}
