<div class="body">
    <mat-card class="card-style">
        <mat-card-header>
          <mat-card-title>CONTACT US</mat-card-title>
        </mat-card-header>
        
        <!-- <mat-card-content>
          <p>
            As the community’s healthcare needs continue to grow, KP Health Clinic
            supports and maintains a full range of specialty services that serve both inpatients
             and outpatients as well as their families. We are a medical group specializing in 
             Family Practice, Internal Medicine, Allergic Disorders and Immunology.
             <br> We accept many PPO and POS plans, private indemnity insurances and participate in most major IPA’s (Independent Practice Associations) in North Orange County working with health plans such as AETNA, Cigna, Health Net, Blue Shield, TriCare and SCAN to name just a few. We also welcome Medicare, MediCal/CalOptima, Healthy Family, MSI and Cash patients.
          </p>
          <div class="signature">- KP Health Solutions</div>
        </mat-card-content> -->
        </mat-card>
</div>
<div>
  <mat-card class="card-style">
<h3 class="reach">E-mail : kphealth@gmail.com</h3>
<h3 class="reach">Phone : 714-999-8888</h3>
      </mat-card></div>
