.body {
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    align-items: center;
}

.content-box {
    width: 65%;
    background-color:rgba(174, 230, 253, 0.67);
    border-radius: 8px;
    padding: 16px;
    position: relative;
    margin-bottom: 16px;
    margin: auto;
}

button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Ruda;
    font-size: 16px;
}

.buttons-container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 16px;
}

.buttons-container > button {
    margin-left: 8px;
}

input{
    border: 1px solid white;
    border-radius: 6px;
    font-family: Ruda;
    font-size: 12px; 
    padding: 4px;
    width: 50%;
    position: absolute;
    left:220px;
    margin-top: 5;

}
h3{
    font-family: Ruda;
}

div {
    padding: 8px;
}
.text{
    font-family: Ruda;
}
label{
    font-family: Ruda;
    position: relative;
    left: 30px;
}

textarea{
    border: 1px solid white;
    padding: 10px;
    width: 50%;
    position: absolute;
    left:220px;
    margin-top: 5;
    border-radius: 6px;
    max-height: 40px;
}
.space{
    height: 40px;
}

.file{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 16px;
    font-family: Ruda;
    font-size: 16px;

}