
#page-wrap {
    background-color: #EEE;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
}
#max-width-column {
    background-image: url("src\assets\bgg.png");
    background-size:100% 100%;
    position: relative;
    height: 100vh;

}


#content-wrap {
    margin: 0 auto;
    height: 1000 px;
    width: 640 px;
}
