.nav-bar {
    background: rgba(78, 146, 173, 0.2);
    justify-content: space-between;
    border-radius: 20px;
}


a {
    padding-right: 1rem;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.title {
    font-size: 35px;
    font-family: 'Ruda';
    
}

.text-color {
    color:white;
    font-family: 'Ruda';
}