/* You can add global styles to this file, and also import other style files */

html, body { 
    /* height: 100%; */
    background-size: 100% 100%;
    background-position: left top; } 
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mat-typography{
    background-size: 100% 100%;
    background-position: left top;
} */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
