<div>
  <mat-card class="card-style">
    <mat-card-content>
      <div class="first"><img class='img' src="\assets\kppBuilding.jpg" width="600px" />
        <img class="award" src="\assets\award.png" width="300" style="float:right" />
        <div class="text1">
          <h1>KP Medical Health Clinic</h1>
          <p class="p1">Providing top of the line health care since 2014</p>
        </div>
      </div>
    </mat-card-content>

  </mat-card>
</div>

<div>
  <mat-card class="card-style2">
    <mat-card-content text-align=center>
      <p class="p2">Video Visits are available.All of our providers are now offering appointments via video. Go to the
        "Send Form" button to fill in your health information and schedule your teleconsult.</p>
    </mat-card-content>
  </mat-card>
</div>

<footer class="footer">
  <div class="footer_div">
    <h1 class="footertext">KP Medical Health Clinic</h1>
    <hr>
    <p class="footertext2">12321 North Main St, Irvine, California, 92876</p>
    <p class="footertext2">E-mail: kphealth@gmail.com</p>
    <p class="footertext2">Phone: 714-887-9878</p>
    <ul>
      <li><img class="item" src="\assets\fb.png" alt=""></li>
      <li><img class="item" src="\assets\linked.png" alt=""></li>
      <li><img class="item" src="\assets\twit.png" alt=""></li>
    </ul>
  </div>
</footer>