.space{
    height:200px;
}

p{
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
}

.signature{
    text-align: right;
    margin-right: 50px;
    font-size: 20px;
}
.card-style {
    color: rgba(78, 146, 173, 0.404);
    display:block;
    width: 300px;
    max-height:200px;
    text-align: center;
    padding-top:60px;
    padding-bottom:60px;
    margin:auto;
    opacity: .5;
    border-radius: ;
     
}

.buttonstyle {
    color: white;
    border-radius: 20px;
    color: rgb(12, 8, 8);
    cursor: pointer;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 50px;
    width: 300px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    
 
}
