<div class="body">
  <mat-card class="card-style">
      <a routerLink="/form">
          <button>Send Medical Info</button>
      </a>
  </mat-card></div>

<footer class="footer">
  <div class="footer_div">
    <h1 class="footertext">KP Medical Health Clinic</h1>
    <hr>
    <p class="footertext2">12321 North Main St, Irvine, California, 92876</p>
    <p class="footertext2">E-mail: kphealth@gmail.com</p>
    <p class="footertext2">Phone: 714-887-9878</p>
    <ul>
      <li><img class="item" src="\assets\fb.png" alt=""></li>
      <li><img class="item" src="\assets\linked.png" alt=""></li>
      <li><img class="item" src="\assets\twit.png" alt=""></li>
    </ul>
  </div>
</footer>