  <mat-card class="card">
    <mat-card-content><img class='img' src="\assets\kppBuilding.jpg" width="600px" />
        <img class="award" src="\assets\award.png" width="300" style="float:right" />
        <div class="sideDiv">
          <h1 class="kp">KP Medical Health Clinic</h1>
          <p class="p1">Providing top of the line health care since 2014</p>
      </div>
    </mat-card-content>
  </mat-card>

<div>
  <mat-card class="card2">
    <mat-card-content text-align=center>
      <p class="p2">Video Visits are available. All of our providers are now offering appointments via video. Press the KP Health button at the top left to find out more! </p>
    </mat-card-content>
  </mat-card>
</div>

